@CHARSET "UTF-8";

.contenedor-principal {
    width: 100%;
    height: 100%;
}

div#bienvenidaProspecto_contenedoPrincipal {
    width: 100%;
    height: 100%;
    background-image: url('../img/pattern_gray.png');
    background-repeat: repeat-x;
    background-size: 210px 550px;
}

.etq-bienvenida {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    color: #4e4749;
}

.centro-contacto {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #4e4749;
}


.btn-buscar span, .btn-registrar span {
    background-color: #707070;
    border: 0;
    /* padding: 20px; */
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: left;
    padding-left: 120px;
    line-height: 140px;
}

.btn-buscar div {
    background-color: #707070;
}

.boton-buscar-container div {
    background-color: #707070;
    width: 360px;
    height: 135px;
    color: #fff;
    font-size: Gotham, Helvetica, Arial, sans-serif;
    text-align: left;
    padding-left: 120px;
    font-size: 30px;
    box-sizing: border-box;
    background-image: url('../img/lupa_blanca.png');
    background-repeat: no-repeat;
    background-position: 40px 50%;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding-top: 40px;
}

.btn-registrar-container div{
      background-color: #707070;
      width: 360px;
      height: 135px;
      color: #fff;
      font-size: Gotham, Helvetica, Arial, sans-serif;
      text-align: left;
      font-size: 30px;
      box-sizing: border-box;
      background-image: url('../img/usuario_blanco.png');
      background-repeat: no-repeat;
      background-position: 40px 50%;
      box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      padding-top: 40px;
      padding-left: 120px;
}


.logo-banorte {
    background-image: url('../img/Banorte_rojo.png');
    width: 445px;
    height: 55px;
    margin-top: 25px;
    background-repeat: no-repeat;
    padding-bottom: 90px;
}

.boton-buscar-container{
	margin-right: 30px;
	position: relative;
}

.btn-registrar-container {
    position: relative;
}

.boton-registrar-grande > span {
    width: 100%;
    height: 100%;
    background-color: #707070;
}

.boton-registrar-grande {
    width: 100%;
    height: 100%;
}

.boton-registrar-grande > span > span {
    width: 100%;
    height: 100%;
}

.boton-registrar-grande > span > span .dijitButtonText span {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 20px;
    position: absolute;
    padding-top: 54px;
    top: 50%;
    left: 0px;
    font-weight: bold;
}

.boton-registrar-grande > span > span .dijitButtonText {
    height: 100%;
    width: 100%;
}

.content-boton-grande {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.40);
    background-image: url('../img/usuario_blanco.png');
}

.boton-registrar-grande .dijitButtonText span:before {
    content: "CLIENTE PROSPECTO";
    position: absolute;
    top: 25px;
    font-weight: normal;
    left: 40px;
}

.panel-boton-grande {
    width: 300px;
    height: 100%;
}
.boton-registrar-grande .dijitButtonText {
    background-image: url('../img/usuario_blanco.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: -15px;
}

.boton-registrar-grande > span {
    width: 100%;
    height: 100%;
    background-color: #707070;
}

.boton-registrar-grande {
    width: 100%;
    height: 100%;
}

.boton-registrar-grande > span > span {
    width: 100%;
    height: 100%;
}

.boton-registrar-grande > span > span .dijitButtonText span {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 20px;
    position: absolute;
    padding-top: 54px;
    top: 50%;
    left: 0px;
    font-weight: bold;
}

.boton-registrar-grande > span > span .dijitButtonText {
    height: 100%;
    width: 100%;
}

.content-boton-grande {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.40);
    background-image: url('../img/usuario_blanco.png');
}

.boton-registrar-grande .dijitButtonText span:before {
    content: "CLIENTE PROSPECTO";
    position: absolute;
    top: 25px;
    font-weight: normal;
    left: 40px;
}

.panel-boton-grande {
    width: 300px;
    height: 100%;
}

div#buscarProspecto_panel {
    width: 100%;
}

div#buscarProspecto_panel02 {
    width: 100%;
}

div#buscarProspecto_panel-formulario {
    float: right;
    width: 515px;
    border: 1px solid #cfcfcf;
    margin-right: 10px;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.5);
}

.boton-gris {
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    margin-right: 20px;
}

.boton-gris .dijitButton {
    width: 100%;
    height: 100%;
}

.boton-gris .dijitButton .dijitButtonNode {
    width: 100%;
    height: 100%;
    line-height: 30px;
    border: 0;
}

div#buscarProspecto_area-botones .BTTRowStyle {
width: 300px;display: block;float: right;}

.boton-gris .dijitButton .dijitButtonNode .dijitButtonContents {
    background-color: #707070;
}

.title-formulario {
    padding: 10px 12px 40px 25px;
}

.label-titulo {
    color: #eb0029;
    font-size: 23px;
font-weight: bold;
}

div#buscarProspecto_boton-cerrar {
    width: 20px;
    height: 20px;
    color: white;
    cursor: pointer;
}
