@charset "UTF-8";
body {
  background-color: #f1f1f1;
}

.banorte .dijitTextBox {
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  height: 40px;
  margin-bottom: 20px;
  width: 280px;
}
.banorte .dijitTextBox.dijitTextBoxFocused {
  outline: none !important;
}
.banorte .dijitTextBox .dijitInputField {
  box-sizing: border-box;
  padding: 8px 13px !important;
  height: 100%;
}
.banorte .dijitTextBox .dijitInputField input {
  color: #626262;
  text-transform: uppercase;
  line-height: 21px;
}
.banorte .dijitTextBox .dijitArrowButton {
  width: 40px;
  height: 40px;
  border: 0;
  position: relative;
}
.banorte .dijitTextBox .dijitArrowButton.dijitHasDropDownOpen {
  padding: 0 !important;
  background: #717075;
  width: 40px !important;
  height: 40px !important;
}
.banorte .dijitTextBox .dijitArrowButton:after {
  position: absolute;
  right: 13px;
  top: 10px;
  color: #fff;
  font-size: 15px;
  content: "▼";
}
.banorte .dijitTextBox .dijitArrowButton .dijitArrowButtonInner {
  border: 0;
  width: 40px;
  height: 40px !important;
  background: #717075;
}
.banorte .dijitComboBoxMenuPopup {
  border-radius: 0 0 6px 6px;
}
.banorte .dijitMenu {
  border: 1px solid #ccc !important;
  border-radius: 0 0 6px 6px;
}
.banorte .dijitMenu .dijitMenuItem {
  color: #626262;
  box-sizing: border-box;
  padding: 6px !important;
  font-size: 13px;
  text-transform: uppercase;
}
.banorte .dijitMenu .dijitMenuItem.dijitMenuItemSelected {
  background: #f599a8;
  color: #fff;
}
.banorte .dijitTabListContainer-top {
  height: 47px !important;
  border-bottom: 2px solid #c9c9c9;
  z-index: 2;
}
.banorte .dijitTabListContainer-top .tabStripButton-top {
  margin-top: 0 !important;
  height: 38px !important;
  border: 0 !important;
  width: 35px;
  background-color: #f7f7f7 !important;
  background-image: none !important;
}
.banorte .dijitTabListContainer-top .tabStripButton-top .dijitTabInnerDiv {
  color: #9e003b;
  font-size: 22px;
  padding-top: 3px;
  padding-left: 7px;
}
.banorte .dijitTabListContainer-top .tabStripButton-top .dijitTabInnerDiv .dijitButtonContents {
  display: none;
}
.banorte .dijitTabListContainer-top .tabStripButton-top .dijitTabInnerDiv:focus {
  outline: none;
}
.banorte .dijitTabListContainer-top .tabStripButton-top:nth-child(2) .dijitTabInnerDiv:after {
  content: "<";
}
.banorte .dijitTabListContainer-top .tabStripButton-top:nth-child(3) {
  left: 759px !important;
}
.banorte .dijitTabListContainer-top .tabStripButton-top:nth-child(3) .dijitTabInnerDiv:after {
  content: ">";
}
.banorte .dijitTabContainerTop .dijitTabListWrapper {
  height: 47px !important;
  left: 41px !important;
  width: 720px !important;
}
.banorte .dijitTabContainerTop-tabs {
  border: none;
}
.banorte .dijitTabContainerTop-tabs .dijitTab {
  top: 0 !important;
  margin-right: 0 !important;
  padding-top: 0 !important;
}
.banorte .dijitTabContainerTop-tabs .dijitTab .dijitTabContent {
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #160c10;
  padding: 15px 15px !important;
  background: #f7f7f7;
  border: none;
}
.banorte .dijitTabContainerTop-tabs .dijitTab .dijitTabContent div:focus {
  outline: none;
}
.banorte .dijitTabContainerTop-tabs .dijitTab.dijitTabChecked .dijitTabContent, .banorte .dijitTabContainerTop-tabs .dijitTab.dijitTabHover .dijitTabContent {
  color: #fff;
  background: #EB0029;
}
.banorte .dijitTabPaneWrapper {
  border: 0;
  margin-top: 16px !important;
  padding: 0;
}
.banorte .dijitTabPaneWrapper .dijitTabContainerTop-dijitContentPane {
  padding: 15px;
  padding-top: 25px;
  background: #f1f1f1;
}
.banorte .dijitTabPaneWrapper .dijitTabContainerTop-dijitContentPane .tab-header {
  padding-left: 5px;
  margin-bottom: 20px;
  color: #2f2327;
  font-weight: bold;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid {
  width: 763px !important;
  border: none;
  background-color: transparent !important;
  box-shadow: 0 1px 6px #888888;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-credit, .banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-branch, .banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-1, .banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-2 {
  height: 93px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-credit .dojoxGridView, .banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-branch .dojoxGridView, .banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-1 .dojoxGridView, .banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-2 .dojoxGridView {
  height: 59px;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-credit .dojoxGridRowTable th:nth-child(1) {
  width: 295px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-credit .dojoxGridRowTable th:nth-child(2) {
  width: 265px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-credit .dojoxGridRowTable th:nth-child(3) {
  width: 203px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-credit .dojoxGridContent .dojoxGridRow td:nth-child(1) {
  width: 295px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-credit .dojoxGridContent .dojoxGridRow td:nth-child(2) {
  width: 265px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-credit .dojoxGridContent .dojoxGridRow td:nth-child(3) {
  width: 200px !important;
  border-right: 0;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-branch {
  margin-top: -2px;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-branch .dojoxGridRowTable th:nth-child(1) {
  width: 295px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-branch .dojoxGridRowTable th:nth-child(2) {
  width: 147px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-branch .dojoxGridRowTable th:nth-child(3) {
  width: 321px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-branch .dojoxGridContent .dojoxGridRow td:nth-child(1) {
  width: 295px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-branch .dojoxGridContent .dojoxGridRow td:nth-child(2) {
  width: 147px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-account-branch .dojoxGridContent .dojoxGridRow td:nth-child(3) {
  width: 321px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-1 .dojoxGridRowTable th:nth-child(1), .banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-2 .dojoxGridRowTable th:nth-child(1) {
  width: 295px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-1 .dojoxGridRowTable th:nth-child(2), .banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-2 .dojoxGridRowTable th:nth-child(2) {
  width: 313px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-1 .dojoxGridRowTable th:nth-child(3), .banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-2 .dojoxGridRowTable th:nth-child(3) {
  width: 155px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-1 .dojoxGridContent .dojoxGridRow td:nth-child(1), .banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-2 .dojoxGridContent .dojoxGridRow td:nth-child(1) {
  width: 295px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-1 .dojoxGridContent .dojoxGridRow td:nth-child(2), .banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-2 .dojoxGridContent .dojoxGridRow td:nth-child(2) {
  width: 313px !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-1 .dojoxGridContent .dojoxGridRow td:nth-child(3), .banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid.info-card-2 .dojoxGridContent .dojoxGridRow td:nth-child(3) {
  width: 155px !important;
  border-right: 0;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridRowTable th {
  box-sizing: border-box;
  background: #717075;
  color: #fff;
  text-align: left !important;
  padding: 6px 15px;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridRowTable th:hover .dojoxGridSortNode {
  cursor: auto;
  background: #717075;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridMasterHeader {
  background: none;
  border: 0;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridMasterHeader .dojoxGridHeader {
  width: 100% !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridMasterHeader .dojoxGridHeader .dojoxGridCell:first-of-type {
  border-left: 0;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridMasterHeader .dojoxGridHeader .dojoxGridCell:last-of-type {
  border-right: 0;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridView {
  width: 100% !important;
  margin-top: 8px;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridView .dojoxGridScrollbox {
  background: transparent;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridContent {
  width: 100% !important;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridContent .dojoxGridRow {
  background: transparent;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridContent .dojoxGridRow td {
  box-sizing: border-box;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridContent .dojoxGridRow.dojoxGridRowOdd tr,
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridContent .dojoxGridRow tr {
  background: #f1f1f1;
  color: #160c10;
  height: 60px;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridContent .dojoxGridRow.dojoxGridRowOver td {
  background: #f1f1f1;
  color: #160c10;
  height: 60px;
  border-top: 0;
  border-bottom: 1px solid #E5DAC8;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridContent .dojoxGridRow .dojoxGridCell {
  border-color: transparent #d0d0d0 #d0d0d0 transparent;
}
.banorte .dijitTabPaneWrapper .dijitContentPane .dojoxGrid .dojoxGridContent .dojoxGridRow .dojoxGridCellFocus {
  border: 1px solid #E5DAC8 !important;
  border-top: 0 !important;
  border-left: 0 !important;
}

/*# sourceMappingURL=contactcenter.css.map */
