.home-button .dijitButtonNode {
	width: 35px;
	height: 32px;
	background-color: transparent !important;
	border-radius: 0 !important;
	border: 0 !important;
	box-shadow: none !important;
	background-image: url(img/menu_sprites.png);
	background-size: 100px;
	background-position: -7px -8px !important;
	cursor: pointer;
}

.home-button .dijitButtonNode:hover {
	background-position: -7px -58px !important;
}

.home-button .dijitButtonText {
	display: none;
}

.menu-button .dijitButtonNode {
	width: 43px;
	height: 43px;
	background-color: transparent !important;
	border-radius: 0 !important;
	border: 0 !important;
	box-shadow: none !important;
	background-image: url(img/menu_sprites.png);
	background-size: 100px;
	background-position: -57px -8px !important;
	cursor: pointer;
}

.menu-button .dijitButtonNode:hover {
	background-position: -57px -58px !important;
}

.menu-button .dijitButtonText {
	display: none;
}

.cc-main-menu {
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px;
}

.cc-main-menu .home-button {
	margin-left: 30px !important;
	border-right: 1px solid #e1e2e3;
	width: 50px;
	margin-right: 17px !important;
}

.cc-main-menu .menu-button {
	margin-right: 0px !important;
}

.cc-main-menu .BTTCellStyle {
	display: inline;
	max-height: initial;
	float: left;
}

.cc-main-menu>.BTTRowStyle {
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
	display: block;
	width: 100%;
	height: 40px;
	background-color: #Fff;
}


/*# sourceMappingURL=main.css.map */
.left-seccion {
	width: 340px;
	padding-right: 20px !important;
}

.seccion-lateral-izq {
	width: 100%;
}

.banorte .dijitTitlePaneTitle {
	background-image: none;
}

.simbolo-mas {
	content: "";
	width: 25px;
	height: 25px;
	display: block;
	margin-right: 25px;
	background-image: url(../img/expand.png);
	margin-left: 10px;
	background-repeat: no-repeat;
	background-size: 100%;
	cursor: pointer;
}

.simbolo-menos {
	content: "";
	width: 25px;
	height: 25px;
	display: block;
	margin-right: 25px;
	background-image: url(../img/collapse.png);
	margin-left: 10px;
	background-repeat: no-repeat;
	background-size: 100%;
	cursor: pointer;
}

div#landingPageClienteBanorte_aclaracionesPane {
	border-bottom: 2px solid #ddd;
}

div#landingPageClienteBanorte_landingPageClienteBanortePanel {
	background-image: url(../img/Fondo_repeat.png);
	background-repeat: repeat-x;
	background-color: #F1F1F1;
}

.boton-registrar-grande>span {
	width: 100%;
	height: 100%;
	background-color: #707070;
	background-image: url('../img/usuario_blanco.png');
	background-repeat: no-repeat;
	background-position: 50% 40%;
}

.boton-registrar-grande {
	width: 100%;
	height: 100%;
}

.boton-registrar-grande>span>span {
	width: 100%;
	height: 100%;
}

.boton-registrar-grande>span>span .dijitButtonText span {
	height: 100%;
	width: 100%;
	color: #fff;
	font-size: 20px;
	position: absolute;
	padding-top: 54px;
	top: 50%;
	left: 0px;
	font-weight: bold;
}

.boton-registrar-grande>span>span .dijitButtonText {
	height: 100%;
	width: 100%;
}

.content-boton-grande {
	width: 100%;
	height: 100%;
	position: relative;
	box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.40);
	background-image: url('../img/usuario_blanco.png');
	background-repeat: no-repeat;
	background-position: 50% 40%;
}

.boton-registrar-grande .dijitButtonText span:before {
	content: "CLIENTE PROSPECTO";
	position: absolute;
	top: 25px;
	font-weight: normal;
	left: 40px;
}

.panel-boton-grande {
	width: 300px;
	height: 100%;
}

.title-formulario {

}

div#buscarProspecto_panel {
	width: 100%;
}

div#buscarProspecto_panel02 {
	width: 100%;
}

.panel-formulario {
	float: right;
	width: 515px;
	border: 1px solid #cfcfcf;
	margin-right: 10px;
	box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.5);
	padding: 20px 15px 15px 25px;
	box-sizing: border-box;
}

.panel-formulario.invert {
	margin-left: 10px;
	margin-right: 0px;
}

.boton-gris {
	width: 130px;
	height: 30px;
	box-sizing: border-box;
	color: #fff;
	text-transform: uppercase;
	margin-left: 10px;
	display: inline-block !important;
}

.boton-gris .dijitButton {
	width: 100%;
	height: 100%;
}

.boton-gris .dijitButton .dijitReset.dijitInline.dijitButtonNode dijitLabelBase
	{

}

.boton-gris .dijitButton .dijitButtonNode {
	width: 100%;
	height: 100%;
	line-height: 30px;
	border: 0;
}

.boton-gris .dijitButton .dijitButtonNode .dijitButtonContents {
	background-color: #707070;
	cursor: pointer;
	font-family: Gotham;
}

.content-btn {
	margin-left: 15px;
}

div#buscarProspecto_area-botones {
	padding-top: 25px;
}

.label-titulo {
	color: #eb0029;
	font-size: 23px;
	font-weight: bold;
}

.et-instrucciones {
	margin-bottom: 42px;
}

.boton-cerrar .dijitLabelBase {
	width: 20px;
	height: 20px;
	background-image: url('../img/R_close.jpg');
	background-repeat: no-repeat;
	border: 0;
}

.content-boton-grande .BTTCellStyle {
	padding: 0;
	margin: 0;
}

.panel-boton-grande .BTTCellStyle {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: content-box;
	border-collapse: collapse;
}

.tabla-result-busq .dijitButtonNode {
	border: 0;
	margin: 0;
	line-height: normal;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	background-color: #808080;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	padding: 0 10px 0px 10px;
	font-size: 12px;
	width: 100px;
	color: #fff;
}

div#landingPageClienteBanorte_accionesGeneralesRepetitivePanel {
	position: absolute;
	color: #fff;
	top: 42px;
	left: 103px;
	z-index: 3;
	display: inline-table;
}

div#landingPageClienteBanorte_accionesGeneralesRepetitivePanel .innerPane
	{
	border-bottom: 1px solid #d1d1d1;
	padding: 10px 20px;
	cursor: pointer;
	width: 320px;
	display: table;
	background-color: #707070;
}

.cc-main-menu .BTTCellStyle:nth-child(2):hover+.BTTCellStyle:nth-child(3)>div
	{
	width: 200px;
	display: block !important;
}

.cc-main-menu .BTTCellStyle:nth-child(2):hover {
	display: block !important;
}

.cc-main-menu .BTTCellStyle:nth-child(3):after { /* width: 100%; */
	/* height: 100%; */
	/* background-color: rgba(112, 112, 112, 0.68); */
	position: absolute;
	content: "";
	top: 42px;
	left: 0;
	z-index: 1;
}

.cc-main-menu .BTTCellStyle:nth-child(3):hover>div {
	content: "";
	display: block !important;
}

.cc-main-menu .BTTCellStyle:nth-child(3)>div {
	content: "";
	display: none !important;
}

.texto-title-perfil {
	color: #b01657;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 60px;
}

.consulta-perfil {
	margin: 10% auto;
	box-sizing: border-box;
	border: 1px solid #dcdee0;
	max-width: 85%;
	padding: 30px 25px;
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

.banorte .panel-repetitivo-perfil .dijitTitlePaneTitle {
	border: 0;
	border-bottom: 1px solid #b1b4b3;
	position: relative;
	height: 88px;
	line-height: 88px;
	font-size: 23px;
}

.banorte .panel-repetitivo-perfil .dijitTitlePaneTitle {
	color: #000;
}

.banorte .panel-repetitivo-perfil .dijitTitlePaneTitle:after {
	content: "V";
	position: absolute;
	top: 0;
	right: 0;
	color: #b1b4b3;
	font-weight: 100;
}

#consultaDePerfiles_form .boton-gris .dijitButton .dijitButtonNode {
	height: 90px;
}

#consultaDePerfiles_form .boton-gris .dijitButton .dijitButtonNode .dijitButtonContents
	{
	height: 90px;
	line-height: 60px;
	padding: 0px 25px 0px 25px;
	width: 200px;
	cursor: pointer;
}

#consultaDePerfiles_form .boton-gris .dijitButton .dijitButtonNode .dijitButtonContents .dijitLabelBase
	{
	display: block;
	width: 100px;
	height: 100%;
	white-space: pre-line;
	line-height: 20px;
	margin-top: 25px;
	font-size: 18px;
}

* {
	outline: none;
}

form#consultaDePerfiles_form {
	margin-top: 400px;
}

#consultaDePerfiles_form .boton-gris {
	width: 240px;
	height: 90px;
}

.banorte .panel-acciones .dijitTitlePaneContentOuter {
	border: 0px;
	border-bottom: 1px solid #b1b4b3;
	height: auto;
	line-height: normal;
}

.banorte .panel-acciones .dijitTitlePaneContentOuter .text-panel-acciones
	{
	color: #b01657;
	font-size: 25px;
	margin-left: 30px;
	width: 210px;
	border-right: 1px solid #abafae;
	height: 115px;
	line-height: 115px;
}

.banorte .panel-repetitivo-perfil .dijitTitlePaneTitle.dijitOpen:after {
	content: "X";
	color: #eb0029;
}

.dijitTitlePaneTitleActive {
	background-color: transparent !important;
}

div#consultaAcciones_conditionalPanel .innerPane {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #bcbfbe;
	padding: 0px 25px 0px 25px;
	font-size: 20px;
	margin-bottom: 20px;
}

div#consultaAcciones_conditionalPanel .innerPane div {
	display: inline;
}

div#consultaAcciones_conditionalPanel .innerPane label {
	display: inline;
}

div#consultaDePerfiles_contentPane_23consultaAcciones_repetitivePanel {
	width: 90%;
}

div#consultaAcciones_conditionalPanel .innerPane div input {
	display: inline;
}

div#formularioPerfil_panel {
	width: 100%;
	margin: 10% auto;
	box-sizing: border-box;
	border: 1px solid #dcdee0;
	max-width: 85%;
	padding: 30px 25px;
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
}

form#formularioPerfil_form table {
	width: 100%;
}

.accionesText label,.texto-acciones label {
	color: #b01657;
	font-size: 25px;
	margin-left: 30px;
	width: 210px;
	border-right: 1px solid #abafae;
	height: 115px;
	line-height: 115px;
	margin-right: 50px;
}

.checks-repetitivos .innerPane {
	display: inline-block;
	padding: 21px 10px 0px 25px;
	width: 170px;
}

.banorte .input-item .dijitTextBox {
	width: 630px;
	height: 80px;
	font-size: 40px;
	line-height: 60px;
	border: 2px solid #d0d0d0;
	background-color: #f7f7f7 !important;
}

.et-item {
	font-size: 22px;
	margin-bottom: 20px;
}

.item-captura {
	margin-bottom: 35px;
}

.texto-gris-claro {
	color: #a6aaa9;
	font-size: 22px;
}

.area-cap-infor,.panel-rep-acciones {
	border-bottom: 1px solid #b1b4b3;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.botonesfinal .boton-gris {
	width: 240px;
	height: 90px;
}

.botonesfinal .boton-gris .dijitButton .dijitButtonNode .dijitButtonContents
	{
	background-color: #707070;
	cursor: pointer;
	height: 100%;
	line-height: 85px;
	margin-left: 15px;
	font-size: 18px;
}

.header-agregar-perfil span.dijit.dijitReset.dijitInline.dijitButton .dijitButtonNode
	{
	border: 0;
	color: red;
	font-size: 21px;
}

.agregar-perfil-verificacion {
	min-width: 1110px;
	box-sizing: border-box;
	box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
}

.titulo-dialogo {
	color: #b01657;
	font-size: 25px;
	padding-bottom: 10px;
}

.body-verificador {
	font-size: 16px;
}

.lavel-nombre-verifica {
	font-weight: bold;
}

.label-verifica-decripcion {
	font-weight: bold;
}

.nombre-verifica {
	width: 100px;
}

div#confirmarPerfil_panelAcciones .dijitLabelBase {
	min-width: 100px;
}

.seccion-nombre,.seccion-descripcion {
	margin-bottom: 17px;
}

div#confirmarPerfil_panelAcciones .dijitLabelBase .innerPane {

}

div#confirmarPerfil_repetitivePanel .innerPane .dijitLabelBase {
	font-weight: bold;
}

div#confirmarPerfil_repetitivePanel .innerPane .dijitLabelBase:after {
	/* font-size:30px; */
	/* content: "hola"; */

}

div#confirmarPerfil_repetitivePanel .innerPane .dijitLabelBase:before {
	content: ". ";
	font-size: 35px;
	font-family: serif;
	margin-right: 5px;
	display: inline-block;
	line-height: 10px;
	vertical-align: super;
}

div#confirmarPerfil_footerVerfica .dijitLabelBase:first-child {
	padding-bottom: 10px;
	margin-top: 20px;
}

form#confirmarPerfil_form {
	padding: 15px;
}

.item-derecho .name-valida {
	width: 99px;
}

.item-derecho .name-valida label {
	width: 100%;
	word-break: break-word;
	display: block;
	white-space: pre-line;
	padding-left: 20px;
}

.descripcion-valida {
	padding: 0 20px 0px 20px;
}

.item-derecho {
	margin-bottom: 8px;
}

div#registroProspecto_area-botones {
	padding-top: 30px;
}

div#registroProspecto_areaDeracha {
	border-right: 2px solid rgba(183, 183, 183, 0.5);
}

div#registroProspecto_areaIzquierda {
	padding-left: 20px;
}

@font-face {
	font-family: Gotham;
	src: url(../fonts/Gotham-Book.ttf);
	font-weight: normal;
	font-style: normal;
	-fs-pdf-font-embed: embed;
}

@font-face {
	font-family: Gotham;
	src: url(../fonts/Gotham-Book.woff);
	font-weight: normal;
	font-style: normal;
	-fs-pdf-font-embed: embed;
}

@font-face {
	font-family: Gotham;
	src: url(../fonts/Gotham-Book.eot);
	font-weight: normal;
	font-style: normal;
	-fs-pdf-font-embed: embed;
}

/**@font-face{
    font-family: Gotham-Bold;
    src: url(../fonts/Gotham-Bold.ttf);
    font-weight: normal;
    font-style: normal;
    -fs-pdf-font-embed: embed;
 }**/
@font-face {
	font-family: Gotham-Bold;
	src: url(../fonts/Gotham-Bold.woff);
	font-weight: normal;
	font-style: normal;
	-fs-pdf-font-embed: embed;
}

@font-face {
	font-family: Gotham-Medio;
	src: url(../fonts/Gotham-Medium.ttf);
	font-weight: normal;
	font-style: normal;
	-fs-pdf-font-embed: embed;
}

@font-face {
	font-family: Gotham-Medio;
	src: url(../fonts/Gotham-Medium.woff);
	font-weight: normal;
	font-style: normal;
	-fs-pdf-font-embed: embed;
}

@font-face {
	font-family: Gotham-Medio;
	src: url(../fonts/Gotham-Medium.eot);
	font-weight: normal;
	font-style: normal;
	-fs-pdf-font-embed: embed;
}

@font-face {
	font-family: Roboto-regular;
	src: url(../fonts/Roboto-Regular.woff);
	font-weight: normal;
	font-style: normal;
	-fs-pdf-font-embed: embed;
}

@font-face {
	font-family: Roboto-regular;
	src: url(../fonts/Roboto-Regular.eot);
	font-weight: normal;
	font-style: normal;
	-fs-pdf-font-embed: embed;
}

@font-face {
	font-family: Roboto-regular;
	src: url(../fonts/Roboto-Regular.woff);
	font-weight: normal;
	font-style: normal;
	-fs-pdf-font-embed: embed;
}

@font-face {
	font-family: Roboto-medium;
	src: url(../fonts/Roboto-Medium.woff);
	font-weight: normal;
	font-style: normal;
	-fs-pdf-font-embed: embed;
}

@font-face {
	font-family: Roboto-medium;
	src: url(../fonts/Roboto-Medium.eot);
	font-weight: normal;
	font-style: normal;
	-fs-pdf-font-embed: embed;
}

@font-face {
	font-family: Roboto-medium;
	src: url(../fonts/Roboto-Medium.ttf);
	font-weight: normal;
	font-style: normal;
	-fs-pdf-font-embed: embed;
}

.boton-gris .dijitButtonHover .dijitButtonNode .dijitButtonContents {
	background-color: #eb0029 !important;
}

.boton-gris .dijitButtonDisabled .dijitButtonNode .dijitButtonContents {
	background-color: #F1f1f1 !important;
	color: #d0d0d0;
	cursor: default;
}

.menu_contact-center>.BTTTableStyle {
	width: 100%;
}

div.menu_frmwrk > .dijitTreeContainer > div.dijitTreeIsRoot.dijitTreeNode >div.dijitTreeContainer>.dijitTreeNode {
	display: inline-table !important;
	width: auto;
	position: relative;
	height: auto;
	border: 0;
}


.dijitTreeNode:hover {
	position: relative;
}


.dijitTreeIsRoot>.dijitTreeRow:first-child {
	display: none;
}

div.menu_frmwrk {
	width: 100%;
	height: auto;
	background: -moz-linear-gradient(top, #f5f5f5 0%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #f5f5f5 0%, #ffffff 100%);
	background: linear-gradient(to bottom, #f6f6f6 0%, #FFF 100%);
}

.arbol-menu {
	box-shadow: 0px 3px 3px 0px #C1C1C1;
}

.banorte .dijitTreeRowHover:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-top: 7px solid #fff !important;
	position: relative;
	top: 10px;
}

.banorte .dijitTreeRow:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-top: 7px solid #4e4044;
	position: relative;
	top: 10px;
}

div.menu_frmwrk > .dijitTreeContainer > div.dijitTreeIsRoot.dijitTreeNode>div.dijitTreeContainer>.dijitTreeNode>.dijitTreeRowHover
	{
	background: #0078EB !important;
}

div.menu_frmwrk > .dijitTreeContainer > div.dijitTreeIsRoot.dijitTreeNode>div.dijitTreeContainer>.dijitTreeNode>.dijitTreeRow:after
	{
	content: "";
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-top: 7px solid #4e4044;
	position: relative;
	top: 10px;
}

div.menu_frmwrk > .dijitTreeContainer > div.dijitTreeIsRoot.dijitTreeNode>div.dijitTreeContainer>.dijitTreeNode>.dijitTreeRowHover:after
	{
	content: "";
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-top: 7px solid #fff;
	position: relative;
	top: 10px;
}

div.menu_frmwrk > .dijitTreeContainer > div.dijitTreeIsRoot.dijitTreeNode>div.dijitTreeContainer>.dijitTreeNode>.dijitTreeRow span
	{
	cursor: pointer;
}

.banorte .dijitTreeIsLast .dijitTreeRow {
	border-bottom: 0;
}

.banorte .dijitTreeRowHover span {
	cursor: pointer;
}

.texto-title-morado {
	font-family: Gotham-Medio;
	font-size: 16px;
	color: #b01657;
}

.texto-22-black {
	font-size: 22px;
	font-family: Gotham-Medio;
	color: #4e4044;
}

.panel-roboto-medium-15 {
	font-family: Roboto-medium;
	font-size: 15px;
	color: #4e4044;
}

.panel-roboto-regular-15 {
	font-family: Roboto-regular;
	color: #4e4044;
	font-size: 15px;
}

.contenedor-formulario {
	border: 1px solid #eee;
	margin: 30px;
	padding: 10px 15px;
	box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.5);
}

.contenedor-dos-columnas {
	border-bottom: 2px solid #e9e9ea;
	padding-bottom: 10px;
}

.contenedor-dos-columnas div.BTTCellStyle:first-child div.columna50 {
	border-right: 1px solid #9d9597;
}

.contenedor-dos-columnas div.BTTCellStyle:last-child div.columna50 {
	padding-left: 20px;
	border-left: 1px solid #f5f5f5;
}

.contenedor25-principal .BTTCellStyle:first-child .contenedor-25 {
	border-right: 1px solid #9d9597;
}

.contenedor25-principal .BTTCellStyle:last-child .contenedor-25 {
	padding-left: 15px;
	border-left: 1px solid #F5F5F5;
}

.area-telefono-25 {
	padding: 0 0 0 15px;
}

.lado-der-item {
	padding: 2px 20px 15px 0px;
	border-right: 1px solid #9D9597;
	box-sizing: border-box;
}

.lado-der-item .BTTRowStyle .contenedor-direccion {
	border-bottom: 1px solid #9D9597;
	padding: 5px 15px 10px 5px;
}

.segunda-seccion {
	padding: 15px 0px !important;
	box-sizing: border-box;
}

.lado-der-item .BTTRowStyle:last-child .contenedor-direccion {
	border-bottom: 0;
}

.contenedor-formulario * {
	box-sizing: border-box;
}

.contenedor-formulario .dijitContentPane {
	padding: 0 !important;
}

.texto-big-morado {
	font-size: 22px;
	color: #B01657;
	font-family: Gotham-Medio;
}

.borde-gris-bottom {
	border-bottom: 2px solid #eaeaea;
	padding-right: 30px !important;
	box-sizing: border-box;
}

.desplegar-acordion {
	padding: 0 !important;
}

.titlepane-landing-page .dijitContentPane.panel-cerrado {
	display: block !important;
	height: 0px;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
	opacity: 0;
}

.titlepane-landing-page div.dijitContentPane {
	height: 110px;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
	opacity: 1;
	padding: 0 !important;
	overflow: hidden !important;
	display: block !important;
}

.barra-titulo-cafe {
	background-color: #4f4045;
	height: 40px;
	color: #fff;
	padding: 0px 20px;
	line-height: 34px;
}

.padding-title-cafe {
	padding: 10px 20px 20px 10px;
	border: 2px solid #e9e9ea;
	border-top: 0;
}

.box-content * {
	box-sizing: border-box;
}

.borde-der-grid {
	border-right: 2px solid #E9E9EA;
	padding: 10px 20px;
}

.borde-der-grid-ultimo {
	padding: 10px 20px;
}

.contenedor-sin-padding {
	padding: 0px !important;
}

.borde-der-grid-primero {
	padding-left: 0px !important;
}

.header-repetitive div.BTTCellStyle {
	background: #d0d0d0;
	padding: 15px 30px;
	font-family: Gotham-Medio;
	color: #4e4044;
	border: 1px solid #dadada;
}

.content-table-item .BTTCellStyle {
	padding: 5px 30px;
}

.titlepane-borde-cero .dijitTitlePaneTitle,.titlepane-borde-cero .dijitTitlePaneContentOuter
	{
	border: 0 !important;
}

.top-cero {
	padding: 0;
}

.formulario-padding-registro {
	padding: 0px 25px;
	box-sizing: border-box;
	border-right: 4px solid #Fafafa;
	margin-top: 10px;
}

.boton-barra-activo .dijitButton .dijitButtonNode {
	background-image: url('../img/lupa_blanca.png');
	height: 40px;
	border: 0;
	line-height: 25px;
	padding: 10px 50px 10px 50px;
	background-color: #eb0029;
	box-sizing: border-box;
	color: #fff;
	background-repeat: no-repeat;
	width: 225px;
	background-size: 20px;
	background-position: 50px 50%;
}

.boton-barra-activo .dijitButton:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-top: 10px solid #EB0029;
	top: 8px;
	position: relative;
	margin-left: -10px;
	left: 50%;
}

.boton-barra .dijitButton .dijitButtonNode {
	background-image: url('../img/registrar_gris_20x20px.png');
	height: 40px;
	border: 0;
	line-height: 25px;
	padding: 10px 50px 10px 50px;
	background-color: #FFF;
	box-sizing: border-box;
	color: #131313;
	background-repeat: no-repeat;
	width: 225px;
	background-size: 20px;
	background-position: 40px 50%;
}

.boton-barra {
	display: inline-table !important;
}

.barra-busqueda-top {
	height: 41px;
	display: block !important;
	border-bottom: 2px solid #e7e7e7;
}

.boton-cerrar {
	height: 20px;
	display: inline-block !important;
	float: right;
	padding: 10px !important;
}

.barra-busqueda-top .BTTRowStyle {
	width: 100%;
	display: inline-table !important;
}

.bullet label:before {
	content: "\2022";
	margin-right: 10px;
	font-size: 20px;
	line-height: 10px;
}

.boton-morado .dijitButtonNode {
	border: 1px solid #d78aab;
	width: 100%;
	height: 35px;
	background: #b01657;
	color: white;
	line-height: 35px;
}

.boton-morado .dijitInline {
	width: 100%;
	display: block !important;
}

.boton-gris-small .dijitButtonNode {
	border: 1px solid #f8f8f8;
	width: 100% !important;
	height: 35px;
	background: #f1f1f1;
	color: #4E4044;
	line-height: 35px;
}

.boton-gris-small .dijitInline {
	width: 100% !important;
	display: block !important;
}

.boton-gris-small {
	width: 184px !important;
	margin: 10px !important;
	display: block !important;
}

.boton-morado {
	width: 184px !important;
	margin: 10px !important;
	display: block !important;
}

.padding-calendario {
	padding: 10px;
}

.content-table-item .innerPane:nth-child(even) {
	background-color: #f1f1f1;
}

.color-morado {
	color: #B01657 !important;
}

.activo {
	color: #78bc35;
	font-family: Roboto-medium;
}

.activo:before {
	content: "";
	width: 12px;
	height: 12px;
	display: inline-block;
	background-image: url(../img/Activo.png);
	background-size: 12px;
	margin-right: 5px;
}

.cancelado {
	color: #ea0531;
	font-family: Roboto-medium;
}

.cancelado:before {
	content: "";
	width: 12px;
	height: 12px;
	display: inline-block;
	background-image: url(../img/cancelado.png);
	background-size: 12px;
	margin-right: 5px;
}

.bloqueado {
	color: #707070;
	font-family: Roboto-medium;
}

.bloqueado:before {
	content: "";
	width: 12px;
	height: 12px;
	display: inline-block;
	background-image: url(../img/Bloqueado.png);
	background-size: 12px;
	margin-right: 5px;
}

.innerPane:last-child .borde-gris-bottom {
	border: 0;
}

.status-radio-verde .dijitRadio {
	background-image: none !important;
	width: 20px !important;
	height: 20px !important;
	background-color: #8ad68c;
	border: 3px solid #79be47;
	border-radius: 20px;
}

.status-radio-morado .dijitRadio {
	background-image: none !important;
	width: 20px !important;
	height: 20px !important;
	background-color: #b01657;
	border: 3px solid #b01657;
	border-radius: 20px;
}

.status-radio-verde .dijitRadio.dijitRadioChecked {
	background-image:
		url('../js/dijit/themes/banorte/form/images/checkboxRadioButtonStates.png')
		!important;
	background-color: transparent;
	border: 0;
	background-position: -116px 0px;
	background-size: 230px;
}

.status-radio-amarillo .dijitRadio {
	background-image: none !important;
	width: 20px !important;
	height: 20px !important;
	background-color: #fae47f;
	border: 3px solid #f5d32b;
	border-radius: 20px;
}

.status-radio-amarillo .dijitRadio.dijitRadioChecked {
	background-image:
		url('../js/dijit/themes/banorte/form/images/checkboxRadioButtonStates.png')
		!important;
	background-color: transparent;
	border: 0;
	background-position: -116px 0px;
	background-size: 230px;
}

.status-radio-normal-disabled .dijitRadio {
	background-image: none !important;
	width: 20px !important;
	height: 20px !important;
	background-color: #fff; border : 2px solid #d0d0d0;
	border-radius: 20px;
	border: 2px solid #d0d0d0;
}

.status-radio-normal-disabled .dijitRadio.dijitRadioChecked {
	background-image:
		url('../js/dijit/themes/banorte/form/images/checkboxRadioButtonStates.png')
		!important;
	background-color: transparent;
	border: 0;
	background-position: -116px 0px;
	background-size: 230px;
}

.status-radio-rojo .dijitRadio {
	background-image: none !important;
	width: 20px !important;
	height: 20px !important;
	background-color: #f36781;
	border: 3px solid #eb0029;
	border-radius: 20px;
}

.status-radio-rojo .dijitRadio.dijitRadioChecked {
	background-image:
		url('../js/dijit/themes/banorte/form/images/checkboxRadioButtonStates.png')
		!important;
	background-color: transparent;
	border: 0;
	background-position: -116px 0px;
	background-size: 230px;
}

.barra-titulo-cafe .BTTCellStyle:last-child {
	font-family: Roboto-medium;
}

.numero-tdc {
	width: 30%;
	display: inline-block;
	color: #4e4044;
	font-size: 18px;
	font-family: Gotham;
}

.nombre-titular-tdc {
	width: 30%;
	display: inline-block;
	font-family: Gotham;
	color: #4e4044;
	font-size: 18px;
}

span.status-tdc {
	width: 10%;
	display: inline-block;
	font-family: Gotham;
	font-size: 18px;
}

span.limite-credito-tdc {
	width: 60%;
	display: inline-block;
	float: right;
	text-align: right;
}

label.label-limite-tdc {
	color: #4e4044;
	font-size: 16px;
	font-family: Gotham;
	width: 310px;
	/* display: inline-block; */
	text-align: right;
}

span.limite-credito-tdc label:last-child {
	font-size: 22px;
	font-family: Gotham-Medio;
	color: #4e4044;
	text-align: right;
	margin-left: 10px;
}

span.saldo-tdc-tdc {
	width: 70%;
	display: inline-block;
	float: right;
	text-align: right;
}

span.saldo-tdc-tdc label:first-child {
	color: #4e4044;
	font-size: 16px;
	font-family: Gotham;
	display: inline-block;
	width: 238px;
	text-align: right;
}

span.saldo-tdc-tdc label:last-child {
	font-size: 22px;
	font-family: Gotham-Medio;
	color: #4e4044;
	margin-left: 10px;
	text-align: right;
}

.titlepane-tdc {
	border-bottom: 2px solid #E9E9EA;
	padding-left: 30px;
}

.titlepane-tdc .dijitClosed:before {
	position: absolute;
	content: "";
	width: 30px;
	height: 30px;
	display: block;
	background-image: url(../img/expand.png);
	margin-left: -50px;
	background-repeat: no-repeat;
	background-size: 100%;
	top: 35%;
}

.titlepane-tdc .dijitClosed {
	padding-left: 20px !important;
	position: relative;
}

.titlepane-tdc .dijitOpen:before {
	position: absolute;
	content: "";
	width: 30px;
	height: 30px;
	display: block;
	background-image: url(../img/collapse.png);
	margin-left: -50px;
	background-repeat: no-repeat;
	background-size: 100%;
	top: 35%;
}

.titlepane-tdc .dijitOpen {
	padding-left: 20px !important;
	position: relative;
}

.status-tabla-rojo:before {
	content: "";
	width: 15px;
	height: 15px;
	display: inherit;
	background-color: #EB0029;
	border-radius: 15px;
	position: absolute;
	top: 4px;
	left: 40%;
}

.status-tabla-verde:before {
	content: "";
	width: 15px;
	height: 15px;
	display: inherit;
	background-color: #79BE47;
	border-radius: 15px;
	position: absolute;
	top: 4px;
	left: 40%;
}

.padding-radios-color {
	padding: 5px 0px !important;
}

.padding-radios-color .dijitRadio {
	margin-right: 6px !important;
	cursor: pointer !important;
}

.status-tabla {
	display: block;
	position: relative;
}
.dijitTreeNode .dijitTreeRow.dijitTreeRowSelected ~ div.dijitTreeContainer {
    display: none;
}

.dijitTreeNode .dijitTreeRow.dijitTreeRowSelected.dijitTreeRowHover ~ div.dijitTreeContainer > div{
    display: block;
}

.dijitTreeNode .dijitTreeRow.dijitTreeRowSelected.dijitTreeRowHover ~ div.dijitTreeContainer { display: block;position: fixed;}

.label-saldos-gris {
    font-size: 15px;
    font-family: Gotham-Bold;
    color: #9D9597;
}

.label-saldos-morado {
    font-size: 15px;
    font-family: Gotham-Bold;
    color: #b01657;
}
div#GeneralClienteConContexto_bnCntntPnMenumuestraMenu_bnCntntPnMuestraMenu {
    padding: 0;
}

div#GeneralClienteConContexto_bnCntntPnMenu {
    padding: 0px;
}

.dijitTreeIsRoot > .dijitTreeContainer > .dijitTreeNode > .dijitTreeRow + .dijitTreeContainer {
}

div.menu_frmwrk> .dijitTreeContainer > .dijitTreeNode > .dijitTreeRow + .dijitTreeContainer {
    background: transparent;
    display: block;
}

.dijitTreeIsRoot > .dijitTreeContainer > .dijitTreeNode > .dijitTreeRow:hover + .dijitTreeContainer {
    display: block;
}


.dijitTreeIsRoot > .dijitTreeContainer > .dijitTreeNode > .dijitTreeRow + .dijitTreeContainer:hover {
    display: block;
    position: fixed;
}

.dijitTreeIsRoot > .dijitTreeContainer > .dijitTreeNode > .dijitTreeContainer:hover + .dijitTreeRow {
    background: red !important
}


.dijitTreeIsRoot > .dijitTreeContainer > .dijitTreeNode > .dijitTreeRow + .dijitTreeContainer:hover ~ div.dijitTreeRow {
    background: green !important
}


.dijitTreeIsRoot > .dijitTreeContainer > .dijitTreeNodeHover > .dijitTreeRow + .dijitTreeContainer:hover .dijitTreeNode .dijitTreeRow {
    display: block;
    position: relative;
}

.dijitTreeIsRoot > .dijitTreeContainer > .dijitTreeNode > .dijitTreeRowHover + .dijitTreeContainer:hover > .dijitTreeNodeHover {
    border: 25px solid #ADFF2F;
    background: #F00 !important;
}

.dijitTreeIsRoot > .dijitTreeContainer > .dijitTreeNodeHover > .dijitTreeRow + .dijitTreeContainer:hover > .dijitTreeNodeHover > .dijitTreeContainer {
    display: none;
}
div.menu_frmwrk > .dijitTreeContainer > .dijitTreeNode > .dijitTreeRow + .dijitTreeContainer > .dijitTreeNodeHover > .dijitTreeContainer {
    padding: 0 !important;
    display: block !important;
    position: static !important;
}
div.menu_frmwrk > .dijitTreeContainer > div.dijitTreeIsRoot.dijitTreeNode> div.dijitTreeContainer > .dijitTreeNodeHover > .dijitTreeRow {
    background: #0078EB !important;
}
.dijitTreeIsRoot > .dijitTreeContainer > .dijitTreeNodeHover > .dijitTreeRow + .dijitTreeContainer:hover .dijitTreeNode .dijitTreeRowHover + .dijitTreeContainer {
    display: block !important;
    position: relative;
    left: 200px;
    top: -40px;
}

.dijitTreeIsRoot > .dijitTreeContainer > .dijitTreeNodeHover > .dijitTreeRow + .dijitTreeContainer:hover .dijitTreeNode .dijitTreeRow + .dijitTreeContainer {
    display: none;
}
.img-alerta {
    width: 40px;
    height: 40px;
    background-image: url(../img/Warning_40px.png);
    background-repeat: no-repeat;
}
.informacion-cliente-autenticado-check {
    width: 15px;
    height: 15px;
    background-image: url('../img/Estado_autenticado_15px.png');
    background-repeat: no-repeat;

}

.informacion-cliente-identificado-check {
    width: 15px;
    height: 15px;
    background-image: url('../img/Estado_identificado_15px.png');
    background-repeat: no-repeat;
}
.form-info-detallada-cliente .dijitTitlePaneContentOuter {
    border-bottom: 2px solid #ddd;
}

.ultimo-contacto-landing .dijitTitlePaneContentOuter {
    border-bottom: 2px solid #ddd;
}

.form-info-detallada-cliente .panel-roboto-medium-15 *{
    padding-bottom: 0px;
    font-family: Roboto-medium !important;
    padding-top: 0;
}
.form-info-detallada-cliente .panel-roboto-medium-15{
    display: block;
    padding-bottom: 0px;
    font-family: Roboto-medium !important;
}

.form-info-detallada-cliente .dijitLabelBase{
    padding-bottom: 0px;
    display: table;
    vertical-align: top !important;
    font-family: Roboto-regular;
}
div.menu_frmwrk > .dijitTreeContainer > div.dijitTreeIsRoot.dijitTreeNode>div.dijitTreeContainer>.dijitTreeNode>.dijitTreeRow {
    height: 38px;
    padding: 0;
    margin-top: -2px;
}
.cont-sig-mejor-accion {
    width: 360px;
    height: 40px;
    background-color: #4f4045;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #8f898e;
}
.texto-white-mejor-accion {
    color: #8E8E8E;
    font-family: Roboto-regular;
    line-height: 40px;
}
.texto-link-mejor-accion {
    color: #d08b10;
    text-decoration: blink;
    line-height: 40px;
}
body {
    background-color: #F1F1F1;
    background-image: url('../img/Fondo_02.jpg');
    background-repeat: repeat-x;
    background-position: 50% 40px;
}

.logo-banorte{
	background-image: url('../img/Cliente_Banorte.png');
	width:40px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 100%;
}

div.menu_frmwrk .dijitTreeIsRoot > .dijitTreeContainer > .dijitTreeNode > .dijitTreeRow + .dijitTreeContainer {
	position:absolute;
}

div#GeneralClienteConContexto_bnCntntPnProductos .titlepane-landing-page > div > div.BTTCellStyle > div {
    background-color: #fff;
    box-sizing: border-box;
    border: 2px solid #DDD;
    margin: 0px;
    padding-top: 10px;
}

.dijitTree{
	overflow: hidden !important;
}

.banorte .dijitTreeRow,
.banorte .dijitTreeNode .dojoDndItemBefore,
.banorte .dijitTreeNode .dojoDndItemAfter {/* so insert line shows up on IE when dropping after a target element */
  padding: 0 20px !important;
  margin: 0 0px;/* replaced by border for selected/hovered row */
  background-color: #0090AC;
  background-image: inherit;
  background-position: 0 0;
  background-repeat: repeat-x;
  border-color: rgba(118, 157, 192, 0);
  border-width: 0;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer !important;
  margin: 0;
  min-width: 200px;
}
