.banorte .dijitTreeRow,.banorte .dijitTreeNode .dojoDndItemBefore,.banorte .dijitTreeNode .dojoDndItemAfter
	{
	/* so insert line shows up on IE when dropping after a target element */
	padding: 0 30px !important;
	margin: 0 0px; /* replaced by border for selected/hovered row */
	background-color: #707070;
	background-image: inherit;
	background-position: 0 0;
	background-repeat: repeat-x;
	border-color: rgba(118, 157, 192, 0);
	border-width: 0;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer !important;
	margin: 0;
	min-width: auto;
}

div.menu_frmwrk>.dijitTreeContainer>div.dijitTreeIsRoot.dijitTreeNode>div.dijitTreeContainer>.dijitTreeNodeHover>.dijitTreeRow
	{
	background: rgba(255, 255, 255, 0) !important;
	color: #4e4044 !important;
}

div.menu_frmwrk>.dijitTreeContainer>div.dijitTreeIsRoot.dijitTreeNode>div.dijitTreeContainer>.dijitTreeNode>.dijitTreeRowHover
	{
	background: rgba(255, 255, 255, 0) !important;
	color: #4e4044 !important;
}
.banorte .customizedTooltip{
	position: relative;
    display: inline-block;
}
.banorte .customizedTooltip .tooltiptext{

	background-color: #524044;
    border-radius: 0;
    color: #ffffff;
    left: 50%;
    margin-left: -281px;
    padding-left: 19px;
    position: absolute;
    text-align: left;
    top: 100%;
    visibility: hidden;
    width: 292px;
    z-index: 1;
}
.banorte .customizedTooltip:hover .tooltiptext {
    visibility: visible;
}
.banorte .customizedTooltip .tooltiptext::after {
    border-color: transparent transparent #524044;
    border-style: solid;
    border-width: 10px;
    bottom: 100%;
    content: "";
    left: 50%;
    margin-left: 123px;
    position: absolute;
}
.banorte .customizedTooltip .tooltiptextPlus{

	background-color: #524044;
    border-radius: 0;
    color: #ffffff;
    left: 50%;
    margin-left: -323px;
    padding-bottom: 11px;
    padding-left: 18px;
    padding-top: 8px;
    position: absolute;
    text-align: left;
    top: 80px;
    visibility: hidden;
    width: 351px;
    z-index: 1;
}

.banorte .customizedTooltip:hover .tooltiptextPlus {
    visibility: visible;
}

.banorte .customizedTooltip .tooltiptextPlus::after {
    border-color: transparent transparent #524044;
    border-style: solid;
    border-width: 10px;
    bottom: 100%;
    content: "";
    left: 50%;
    margin-left: 123px;
    position: absolute;
}
