.banorte .dijitTreeRow,
.banorte .dijitTreeNode .dojoDndItemBefore,
.banorte .dijitTreeNode .dojoDndItemAfter {/* so insert line shows up on IE when dropping after a target element */
  padding: 0 20px !important;
  margin: 0 0px;/* replaced by border for selected/hovered row */
  background-color: #03486A;
  background-image: inherit;
  background-position: 0 0;
  background-repeat: repeat-x;
  border-color: rgba(118, 157, 192, 0);
  border-width: 0;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer !important;
  margin: 0;
  min-width: 200px;
}
div.menu_frmwrk > .dijitTreeContainer > div.dijitTreeIsRoot.dijitTreeNode> div.dijitTreeContainer > .dijitTreeNodeHover > .dijitTreeRow {
    background: #0C4F9B;
}
div.menu_frmwrk > .dijitTreeContainer > div.dijitTreeIsRoot.dijitTreeNode>div.dijitTreeContainer>.dijitTreeNode>.dijitTreeRowHover {
    background: #0C4F9B !important;
}
