
@mixin gradient($start-color , $end-color) {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

@mixin simple_box_shadow ($i:0,$f:0, $px:1, $color:0000) {
  box-shadow : $i $f $px $color;
}
